<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <div class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting For Pros</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
      <a class="btn btn--accent btn--stretched" href="/">Get Started</a>
    </div>
    <img
      class="hero__image"
      src="/images/banner.png"
      alt="A banner show cloud hosting"
    />
  </div>
</section>
